.journal-form {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.form-label {
    display: flex;
    align-items: center;
    gap: 20px;
    min-width: 130px;
}

.form-row {
    display: flex;
    align-items: center;
    gap: 50px;
}

.input {
    border: none;
    background: none;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    font-family: 'Source Sans 3', sans-serif;
    border-bottom: 1px solid #323;
    width: 100%;
    color: rgba(255,255,255, 0.87);
    
}
/* перекрасить иконку календаря */
::-webkit-calendar-picker-indicator {
    filter: invert(1);
    cursor: pointer;
}

.invalid {
    /* border: 1px solid red; */
    background: rgb(73, 27, 27);
}

.delete {
    background: none;
    border: none;
    padding: 0;
    width: 16px;
    height: 16px;
}

.delete img {
    cursor: pointer;
    width: 16px;
    height: 16px;

}
.delete:hover {
    outline: 1px solid rgba(255, 255, 255, 0.411);
    border-radius: 50%;
    width: 16px;
    height: 16px;
}